RewriteEngine On

# PAGE GENERAL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/([^/]+)/([^/]+)$ index.php?controller=$1&action=$2 [L,QSA]

# LINK VIEW DASHBOARD ADMIN et MANAGER
RewriteRule ^admin$ /api/admin/index [L,QSA]
RewriteRule ^customer$ /api/admin/customer [L,QSA]
RewriteRule ^reservation$ /api/admin/reservation [L,QSA]
RewriteRule ^invoice$ /api/admin/facture [L,QSA]
RewriteRule ^received$ /api/admin/received [L,QSA]
RewriteRule ^inventaire$ /api/admin/inventaire [L,QSA]
RewriteRule ^manager$ /api/admin/gestionnaire [L,QSA]
RewriteRule ^car$ /api/admin/vehicule [L,QSA]

# LINK VIEW DASH CUSTOMER
RewriteRule ^dashCustomer$ /api/customer/dashindex [L,QSA]
RewriteRule ^invoiceCustomer$ /api/customer/dashinvoice [L,QSA]
RewriteRule ^reservationCustomer$ /api/customer/dashreservation [L,QSA]
RewriteRule ^receivedCustomer$ /api/customer/dashreceived [L,QSA]
RewriteRule ^addreservation$    /api/customer/makereservation [L,QSA]
RewriteRule ^confirm$    /api/customer/confirm [L,QSA]
RewriteRule ^cancel$    /api/customer/annule [L,QSA]
RewriteRule ^invoicepdf$    /api/customer/invoicepdf [L,QSA]



# LINK VIEW HOME
RewriteRule ^index$ /api/view/index [L,QSA]
RewriteRule ^login$ /api/view/login [L,QSA]
RewriteRule ^cars$ /api/view/listcar [L,QSA]
RewriteRule ^detailscars$ /api/view/detailscar [L,QSA]
RewriteRule ^404$ /api/view/error [L,QSA]
RewriteRule ^error$ /api/view/errorpage [L,QSA]
RewriteRule ^resetpassword$ /api/view/resetpassword [L,QSA]

# Réécriture pour les traitements
RewriteRule ^addcustomer$ /api/customer/registercustomer [L,QSA]
RewriteRule ^connect$ /api/auth/login [L,QSA]
RewriteRule ^logout$ /api/view/logout [L,QSA]
RewriteRule ^addmanager$    /api/admin/registermanager  [L,QSA]
RewriteRule ^updatepassword$    /api/gestionnaire/updatepassword    [L,QSA]

# Réécriture pour les models d'envoi mail
RewriteRule ^customerwelcome$   /api/mail/customerWelcome   [L,QSA]
RewriteRule ^idmanager$ /api/mail/credentialManager [L,QSA]
RewriteRule ^confirmReservation$    /api/mail/confirmReservationCustomer    [L,QSA]


ErrorDocument   404 /404