/*-----THE CURRENT STYLE FILE-----*/ /*
    RESSOURCES 

    0px---600px ( PHONE )
    600px---900px ( TABLET PORTRAIT )
    900px---1200px ( TABLET LANDSCAPE )
    1200px-- 1800px ( NORMAL PC )
    1800px--- +00 ( BIG DESKTOP )

*/
*,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Sora", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (max-width: 75em) {
  *,
body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: "Sora", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-weight: 700;
  }
}
section.container {
  /**
    ** @param heigth (to define the heigth of the box)
    ** @param width (to define the width of the box)
   */
  height: 100vh;
  width: 100%;
  /* To center absolutely*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 23% 77%;
  overflow: hidden;
}

.menu-select {
  color: #741414;
  background: #d6d6d6;
  font-weight: 700;
}

.delete, .admining, .modif, .add {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  cursor: pointer;

}
.delete-box {
  position: absolute;
  height: 30%;
  width: 30%;
  background-color: white;
  border-radius: 5px;
  top: 50%;
  left: 60%;
  transform: translate(-60%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}
.delete-box > * {
  margin: 1rem 0;
}
.delete-box i {
  font-size: 6rem;
  color: rgb(255, 179, 0);
}
.delete-box p {
  font-size: 1.5rem;
  font-weight: 500;
}

.delete-box button {
  font-size: 1.5rem;
  padding: 1rem;
  color: white;
  background: #D90B1C;
  border: 0;
  outline: none;
  border-radius: 5px;
  cursor: pointer;

}

.delete-box button:active {
  transform: scale(0.95);
  background: rgb(255, 67, 67);
}
.delete-cancel i, .admining-cancel i, .modif-cancel i, .add-cancel i {
  font-size: 2.5rem;
  color: white;
  background: transparent;
  position: absolute;
  right: 2%;
  top: 2%;
  border: 2px solid white;
  padding: 0.5rem 1rem;
  border-radius: 100px;
}


.admining-box {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-60%, -50%);
  background: white;
  width: 40%;
  height: 80%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  justify-items: center;
  padding: 2rem 0;
}

.admining-box p {
  font-size: 2rem;
  font-weight: 700;
  color: #741414;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.admining-box form {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.admining-box form > *:not(label) {
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  border: 0;
  outline: none;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.admining-box form > *:not(label):focus {
  border: 1px solid #c51e1e;
}
.admining-box form option {
  font-size: 1.5rem;
}
.admining-box form label {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.admining-box form button {
  margin: 1rem 0;
  font-weight: 700;
  color: white;
  background: #c51e1e;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
}
.admining-box form button:active {
  transform: scale(0.95);
}


section.container .left {
  /**
    ** @param heigth (to define the heigth of the box)
    ** @param width (to define the width of the box)
   */
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #741414d7, #741414d7), url("../source/images/bg.jpeg");
  background-size: cover;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 60% 20%;
}

section.container .left .logo {
  /**
    ** @param heigth (to define the heigth of the box)
    ** @param width (to define the width of the box)
   */
  height: 100%;
  width: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.container .left .logo img {
  width: 17rem;
}
section.container .left .list {
  /**
    ** @param heigth (to define the heigth of the box)
    ** @param width (to define the width of the box)
   */
  height: 100%;
  width: 100%;
}
section.container .left .list p {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
section.container .left .list ul {
  margin: 1rem 0;
}
section.container .left .list ul a {
  color: white;
  font-weight: 600;
}
section.container .left .list ul a li {
  padding: 2.5rem;
  font-size: 1.7rem;
}
section.container .left .list ul a li i {
  margin: 0 1rem;
  font-size: 1.7rem;
}
section.container .left .disconnect {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.container .left .disconnect button {
  /**
    ** @param px (for the button border length)
    ** @param color (for the button background color)
    ** @param radius (for the button corner radius)
   */
  border: 2px solid white;
  background-color: white;
  color: #c51e1edc;
  border-radius: 100px;
  outline: none;
  transition: 0.2s;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1.5rem 3rem;
  cursor: pointer;
}
section.container .left .disconnect button:hover {
  background-color: white;
  color: #c51e1e;
  border: 0;
  transform: scale(0.99);
}

section.container .rigth {
  /**
    ** @param heigth (to define the heigth of the box)
    ** @param width (to define the width of the box)
   */
  height: 100%;
  width: 100%;
  background: #d6d6d6;
  /* background: white; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 90%;
}
section.container .rigth .head {
  /**
    ** @param heigth (to define the heigth of the box)
    ** @param width (to define the width of the box)
   */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
section.container .rigth .head div {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  width: fit-content;
  height: fit-content;
  padding: 1rem 2rem;
  background: #ffffff;
  border-radius: 100px;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}
section.container .rigth .head div img {
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
  border-radius: 100px;
}
section.container .rigth .head div p {
  font-size: 1.7rem;
  font-weight: 400;
  color: #212529;
}
section.container .rigth .info p.title {
  /**
    ** @param width (to define the width of the block element)
    ** @param margin (to define the Top-Bottom margin)
   */
  width: 90%;
  margin: 1rem auto;
  font-size: 1.9rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #343a40;
  letter-spacing: 0.3rem;
}
section.container .rigth .info .box {
  height: 80%;
  /**
    ** @param width (to define the width of the block element)
    ** @param margin (to define the Top-Bottom margin)
   */
  width: 90%;
  margin: 1rem auto;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 0rem 2rem;
}

section.container .rigth .info .box div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(221, 201, 201) ;
  height: 90%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #ce5252c4;
  cursor: pointer;
}


section.container .rigth .info .box div p {
  font-weight: 800;
  font-size: 8rem;

}
section.container .rigth .info .box div p:nth-child(1) {
  font-size: 2rem;
  color: #461e1e;
  font-weight: 500;

}
section.container .rigth .admin {
  display: grid;
  /* grid-template-columns: 1fr; */
}

section.container .rigth .admin .title p {
  width: 94%;
  margin: 1rem auto;
  font-size: 1.9rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #343a40;
  letter-spacing: 0.3rem;
}

section.container .rigth .admin .search {
  display: grid;
  justify-content: center;
}

section.container .rigth .admin .search input,
section.container .rigth .admin .search select,
section.container .rigth .admin .search button,
section.container .rigth .admin .search label {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
  border: 0;
  outline: none;
  border-radius: 5px;
  width: 100%;
}

section.container .rigth .admin .search div {
  margin: 1rem 0;
}

section.container .rigth .admin .search div input,
section.container .rigth .admin .search div select,
section.container .rigth .admin .search div button {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

section.container .rigth .admin .search div:nth-child(1) {
  width: 100%;
  height: 1rem;
  display: grid;
  grid-template-columns: 70% 35%;
}

section.container .rigth .admin .search div:nth-child(1) button {
  margin-left: 1rem;
  color: white;
  background-color: #741414;
  cursor: pointer;
}

section.container .rigth .admin .search div:nth-child(1) button:active {
  transform: scale(0.95);
}


section.container .rigth .admin .pagination {
  /**
    ** @param width (to define the width of the block element)
    ** @param margin (to define the Top-Bottom margin)
   */
  width: 95%;
  margin: 0 auto;
  align-items: end;
  justify-content: space-between;
  float: left;
  
}

section.container .rigth .admin .pagination button {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  margin: 0 0.5rem;
  border: 0;
  border-radius: 5px;
  background-color: transparent;
  color: white;

}


section.container .rigth .admin .pagination button:active {
  transform: scale(0.95);
}
section.container .rigth .admin .pagination .pre {
  background: #222A51;
}

section.container .rigth .admin .pagination .post {
  background: #222A51;
}

section.container .rigth .admin .pagination .ajouter {
  background: white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
section.container .rigth .admin .pagination .ajouter i {
  font-size: 2rem;
  color: #222A51;
}
section.container .rigth .admin .search form {
  width: 120%;
}


section.container .rigth .admin .list .admin {
  grid-template-columns: 30% 25% 10% 25% 10%;
  border-left-color: white;
}

section.container .rigth .admin {
  grid-template-rows: 5% 10% 10% 5% 60% 10%;
  width: 100%;
}

section.container .rigth .admin .register {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
section.container .rigth .admin .register button {
  /**
    ** @param color (for the button background color)
    ** @param radius (for the button corner radius)
   */
  border: 0;
  background-color: #0277B2;
  color: white;
  border-radius: 5px;
  outline: none;
  margin-right: 3rem;
  font-size: 1.5rem;
  padding: 1.2rem;
  cursor: pointer;

}

section.container .rigth .admin .register .refresh{
  /**
    ** @param color (for the button background color)
    ** @param radius (for the button corner radius)
   */
  border: 0;
  background-color: #222A51;
  color: white;
  border-radius: 5px;
  outline: none;
  font-size: 1.5rem;
  padding: 1.2rem;
  padding: 1rem;
}


section.container .rigth .admin .register button i {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
section.container .rigth .admin .register button:active {
  transform: scale(0.95);
}

/* CLIENT */

section.container .rigth .admin .repere-client {
  display: grid;
  grid-template-columns: 10% 15% 13% 25% 15% 13% 7%;
  grid-template-rows: fr;
  /**
    ** @param width (to define the width of the block element)
    ** @param margin (to define the Top-Bottom margin)
   */
  width: 95%;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
  padding: 0rem 1rem;
  font-weight: 300;
  background: #741414;
  /* margin-bottom: 1rem; */
  border-radius: 5px;
  height: 100%;

}


section.container .rigth .admin .repere-client p {
  font-size: 1.5rem;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.container .rigth .admin .repere-client p:not(:last-child) {
  border-right: 1px dashed wheat;
}

section.container .rigth .admin .list-client {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  gap: 1rem;
}

section.container .rigth .admin .list-client .client {
  /**
    ** @param width (to define the width of the block element)
    ** @param margin (to define the Top-Bottom margin)
   */
  width: 95%;
  margin: 0 auto;
  background: white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  /* border-radius: 5px; */
  display: grid;
  grid-template-columns: 10% 15% 13% 25% 15% 13% 7%;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  padding: 0rem 1rem;
  font-weight: 300;

}

section.container .rigth .admin .list-client .client p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(99, 98, 98);
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}

section.container .rigth .admin .list-client .client p:not(:last-child) {
  border-right: 1px dashed rgb(197, 197, 197);
}

section.container .rigth .admin .list-client .client div button {
  font-size: 1.5rem;
  padding: 0.7rem;
  border: 0;
  background-color: transparent;
}

section.container .rigth .admin .list-client .client div button i {
  font-size: 1.5rem;
}

section.container .rigth .admin .list-client .client div button:active {
  transform: scale(0.95);
}

section.container .rigth .admin .list-client .client div .set {
  color: #57cc99;
}

section.container .rigth .admin .list-client .client div .del {
  color: #D90B1C;
}


section.container .rigth .admin .list-client .client .status {
  color: #3c3c3c;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #d8d8d8;

}

section.container .rigth .admin .list-client .client .status_ok {
  color: #007442;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #04c873;

}

section.container .rigth .admin .list-client .client div {
  display: flex;
  padding-left: 1.5rem;
}

section.container .rigth .admin .list-client .client div button i {
  cursor: pointer;
  font-size: 1.7rem;
  margin-right: 0.5rem;
  padding-left: 1rem;
  font-weight: bold;
  
}

section.container .rigth .admin .list-client .client div button:active {
  transform: scale(0.95);
}

section.container .rigth .admin .list-client .client div button .te {
  color: rgb(198, 189, 59);
}

section.container .rigth .admin .list-client .client div .en {
  color: rgb(46, 46, 163);
}

section.container .rigth .admin .list-client .client div .lost {
  color: red;
}

section.container .rigth .admin .list-client .client div .bring-back {
  color: #57cc99;
}
